@import '~antd/dist/antd.css';

/*
全局样式
*/
:root {
    font-size: 16px;
    --tips: rgb(110, 110, 110);
    --tips-light: rgba(0, 0, 0, .45);
    --bg-theme: #ddd;
}

#root {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: transparent;
}

/* 布局样式 */
.ant-layout {
    background: transparent;
}

.ant-layout-header {
    position: sticky;
    top: 0;
    z-index: 999999;
    height: auto;
    padding: 0;
    color: var(--tips);
}

body {
    font-family: Arial, cursive, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}

html,
body,
.ant-layout-header {
    background-image: url(https://fyang.fun/files/desktopbg.png);
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: var(--bg-theme);
    background-attachment:fixed;
    font-weight: bold;
}

.ant-layout-sider {
    background-color: white;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    flex: none;
}

.ant-layout-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 0;
    background-color: black;
    color: white;
    z-index: 999999;
}

.ant-layout-footer .ant-card-body {
    padding: 0;
}

.ant-layout-sider {
    background-color: transparent;
}

.ant-pagination-simple .ant-pagination-simple-pager input {
    background: transparent;
    border: none;
}

.ant-timeline-item-head {
    background-color: transparent;
}

.ant-list-split .ant-list-header {
    border-bottom: transparent;
}

.ant-timeline-item-tail {
    border-left: 2px solid var(--tips);
}

.ant-form-item-control-input-content textarea {
    background: #f2f2f2;
    border: 1px solid #ebebeb;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

::-webkit-input-placeholder {
    color: var(--tips) !important;
}

.card-box-shadow {
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .16), 0 3px 6px 0 rgba(0, 0, 0, .12), 0 5px 12px 4px rgba(0, 0, 0, .09);
}

.ant-timeline-item-content {
    margin: 0 20px;
}

.overflow-dot {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-indent: 2em;
}

::-webkit-scrollbar {
    display: none
}

.ant-card-actions {
    border: none;
}

.ant-card-actions > li:not(:last-child) {
    border-color: transparent;
}

.hover-blue {
    cursor: pointer;
}

.hover-blue:hover {
    color: #0987ee !important;
}

.hover-black:hover {
    color: black;
    cursor: pointer;
}