/*
ant 样式
*/
@import '~antd/dist/antd.css';

/*
全局样式
*/
body::-webkit-scrollbar {
    display: none;
}

#app {

}

#app::-webkit-scrollbar {
    display: none
}

.ant-card-actions > li:not(:last-child) {
    border-color: transparent;
}

/* 布局样式 */
.ant-layout {
    background-color: white;
}

.ant-layout-header {
    position: sticky;
    top: 0;
    z-index: 999999;
    height: auto;
    padding: 0;
    border-bottom: 10px solid white;
    background-color: black;
}

.ant-layout-content {

}

.ant-layout-sider {
    background-color: white;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    flex: none;
}

.ant-layout-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 0;
    background-color: black;
    color: white;
}

.ant-layout-footer .ant-card-body {
    padding: 0;
}

