/*
ant 样式
*/
@import '~antd/dist/antd.css';

/*
全局样式
*/

body::-webkit-scrollbar {
    display: none;
}

.card-box-shadow {
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .16), 0 3px 6px 0 rgba(0, 0, 0, .12), 0 5px 12px 4px rgba(0, 0, 0, .09);
}

.overflow-dot {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-indent: 2em;
}

#app {

}

#app::-webkit-scrollbar {
    display: none
}

.ant-card-actions > li:not(:last-child) {
    border-color: transparent;
}

/* 布局样式 */
.ant-layout {
    background-color: white;
}

.ant-layout-header {
    position: sticky;
    top: 0;
    z-index: 999999;
    height: auto;
    padding: 0;
    border-bottom: 10px solid white;
    background-color: black;
}

.ant-layout-content {

}

.ant-layout-sider {
    background-color: white;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    flex: none;
}

.ant-layout-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 0;
    background-color: black;
    color: white;
}

.ant-layout-footer .ant-card-body {
    padding: 0;
}

